/* Geral */
header.topo-pagina{
    --padding: 10em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 100000;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) ;
}



/* Menu */
.primary-menu {

    --padding: 0.7em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 var(--padding) 0 var(--padding);
    gap: 2.5em;

}

.primary-menu li{
    display: inline;
}

.primary-menu a{
    text-decoration: none;

    position: relative;
    color: currentColor;
}

.topo-pagina a::after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 100vw;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);

}

.topo-pagina a:hover::after{

    transform: scaleX(1);
}

a:focus-visible{
    outline: 2px solid var(--main-color);
    outline-offset: 4px;
    border-radius: 100vw;
}

.topo-pagina button.menu-button{
    position: absolute;
    z-index: 9999;
    width: 3em;
    margin: 0 0 0 80%;
    display: none;
}

.topo-pagina button.menu-button::before, .topo-pagina button.menu-button::after{
    width: 30px;
    height: 3px;
    
}


/* Botoões */
button.menu-button{
    width: 2.5em;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button.menu-button:hover{
    background-color: hsla(229, 8%, 38%, 0.2);
}

button.menu-button:focus-visible{
    transition: 0ms;
    outline: 2px solid var(--main-color);
    outline-offset: 4px;
}

button.menu-button::before, button.menu-button::after{
    content: '';
    width: 1.5em;
    height: 2px;
    border-radius: 100vw;
    background-color: #000;
    position: absolute;
    transition: 300ms cubic-bezier(0.76, 0.29, 0.57, 0.93);
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-button::before{
    margin: -5px 0px 0px 0px;
    transform: rotate(0deg);
}

button.menu-button::after{
    margin: 5px 0px 0px 0px;
    transform: rotate(0deg);
}

.clicado{
    transition: transform 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
}

button.clicado::before{
    margin: 0px 0px 0px 0px;

    transform: rotate(-45deg);
}

button.clicado::after{
    margin: 0px 0px 0px 0px;
    transform: rotate(-135deg);
}



/* Responsividade */
@media (max-width: 900px){
    .topo-pagina button.menu-button{
        display: flex;
    }
    .primary-menu {

        position: fixed;
        justify-content: center;
        flex-direction: column;
        inset: 0 50% 0 0;
        background-color: white;
        border-radius: 10px 0px 0px 10px;
        box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.178);
        transform: translateX(200%);
        transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: transform 0.7s cubic-bezier(0.87, 0, 0.13, 1);
        

        z-index: 8000;
    }

    .primary-menu[data-visible="true"]{
        transform: translateX(100%);
        transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
    }


}

/* Footer */
footer{
    height: 10em;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

footer ul{
    list-style: none;
}

footer a{
    color: currentColor;
}

@media (max-width: 600px){
    .search{
        display: none;
    }

    footer{
        height: 15em;
        flex-direction: column;
    }

    footer li{
        display: inline;
    }
}



